@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lavendar: #9e72c7;
  --color-sdl: #251b3f;
  --color-sl_violet: #a256ef;
  --color-crypto_violet: #8323e2;
  --height-header: 44.8vw;
  --font-jose: "Josefin Sans", sans-serif;
  --breakpoint-mm: 23rem;
  --breakpoint-vsm: 13rem;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill {
  background-color: #fbcfe8 !important; /* Tailwind's bg-blue-800 */
  -webkit-box-shadow: 0 0 0px 1000px #fbcfe8 inset !important;
  -webkit-text-fill-color: #9d174d !important; /* Optional: blue-800 text */
  transition: background-color 9999s ease-out;
}

.dark input:-webkit-autofill {
  background-color: #1f2937 !important; /* dark:bg-gray-800 */
  -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

@layer base {
  body {
    @apply overflow-x-hidden bg-blue-800 dark:bg-sdl dark:text-blue-800 text-crypto_violet font-jose;
  }
}
@layer utilities {
  .collabButton {
    @apply whitespace-nowrap px-4 pt-3 pb-2 min-w-max max-w-[15rem] lg:max-w-[6.25rem] md:max-w-[6rem] max-md:max-w-[4rem] h-max text-base font-semibold cursor-pointer bg-blue-800 dark:bg-crypto_violet rounded-[18px] text-center border-b-2 border-r-2 border-[#e1c9f7] dark:hover:bg-sdl hover:bg-blue-800 capitalize;
  }
  .collabHeading {
    @apply text-[32px]/8 max-md:text-[24px]/6 font-normal whitespace-nowrap text-center capitalize;
  }
  .collabDiv {
    @apply flex items-center justify-start gap-6 mt-2 mb-6 flex-wrap;
  }
  .resp {
    @apply max-[565px]:flex-col max-[565px]:items-start max-[565px]:gap-0;
  }
  .outer {
    @apply overflow-auto px-2 h-[calc(100vh-7rem)];
  }
  .inverseTheme {
    @apply text-gray-300 dark:text-crypto_violet;
  }

  .inverseBtn {
    @apply bg-gray-800 text-gray-300 dark:bg-lavendar dark:text-sdl;
  }
  .children-placeholder-capitalize * {
    @apply placeholder:capitalize;
  }

  .textar {
    @apply font-light dark:bg-violet-900 bg-blue-800 focus:outline-none md:text-[20px]/8 rounded-md px-1 pt-[0.8rem] pb-[0.4rem]  placeholder-crypto_violet dark:placeholder-blue-800 min-h-[10vh] w-full max-w-sm;
  }
  .inputCls {
    @apply font-light dark:bg-violet-900 bg-blue-800 w-full max-w-sm focus:outline-none md:text-[20px]/8  rounded-md px-1 pt-[0.8rem] pb-[0.4rem]  placeholder-crypto_violet dark:placeholder-blue-800;
  }
  .statusCls {
    @apply font-light dark:bg-violet-900 bg-blue-800 w-full max-w-sm focus:outline-none md:text-[20px]/8 rounded-md px-1 pt-[0.8rem] pb-[0.4rem] text-crypto_violet dark:text-blue-800 capitalize;
  }
  .btn-hover-effect:hover {
    @apply bg-gray-500 shadow-lg text-black;
  }
  .noScroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }

  .noScroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
